body {
  min-height: 200vh;
}

.custom-navbar{
  background-color: #1445AB !important;
}

.img-Encabezado {
  width: 100%;
  height: auto;
  display: block;
}

.Subtitulo_1{
    text-align: left;
    margin-left: 200px;
    color: #1445AB;
}

.cuadrado-blog{
    width: 1300px;
    height: auto;
    background-color: #E5C524;
    margin-left: 100px;
    border-radius: 10px;
    align-items: flex-start;
    margin: 40px auto;
    padding: 30px;
    gap: 40px;
    display: flex;
    
}
.Imagen-blog1{
    width: 350px;
    height: auto;
    border-radius: 15px;
    transition: transform 0.4 ease, box-shadow 0.4s ease;
}

.Imagen-blog1:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgb(0, 0, 0,0.25);
}

.descripcion-blog1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.titulo-blog1{
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;
}

.linea1{
    width: 800px;
    height: 4px;
    background-color: #1445AB;
    margin: 12px 0;
    border-radius: 2px;
}
.texto-1{
  font-size: 1.1rem;
  max-width: 700px;
}

.cuadro-chiquito1{
    margin-top: 30px;
    width: fit-content;
    background-color: #1445AB;
    padding: 12px 18px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0,0, 0, .2);
    align-self: flex-end;
    text-align: right;

}