body {
    min-height: 200vh;
}

.custom-navbar {
    background-color: #1e459b !important;
}

.img-Encabezado {
    width: 100%;
    height: auto;
    display: block;
}

.Subtitulo_1 {
    text-align: left;
    margin-left: 550px;
    color: #1e459b;
    font-family: "Poppins", sans-serif;
    font-size: 100px;
}

#carouselExampleCaptions {
    max-width: 900px;
    margin: auto;
    
}

#carouselExampleCaptions .carousel-item img {
    height: auto;
    object-fit: cover;
}

.Cuadro-amarrillodecarrusel {
    background-color: #e5c524;
    width: 1200px;
    height: 405px;
    margin: 0 auto;
    position: relative;
    top: -450px;
    z-index: -1;
}



.carrusel-q {
  width: 100%;
  max-width: 1000px;   
  margin: 0 auto;
  position: relative;
}

.img-q {
  width: 100%;
  height: 450px;       
  object-fit: contain; 
}


.texto-abajo {
  padding: 15px;
  font-size: 22px;
  font-weight: 700;
  color: #1e459b;
  text-align: center;
}


.boton-q {
  top: 40%;
  width: 50px;
  height: 50px;
  opacity: 1 !important;
}

.flecha-circulo {
  width: 85px;
  height: 45px;
  background: #e5c524;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}

.flecha {
  font-size: 72px;
  color: #1e459b;
  font-weight: bold;
  position: relative;
  top: -10px;   
}

.linea-centro {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #1e459b;
  border-radius: 4px;
  opacity: 1;
}

.img-q {
  width: 100%;
  height: 450px;
  object-fit: contain;
}

.texto-abajo {
  padding: 40px 40px 50px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* TÍTULO */
.texto-abajo h2 {
  color: #1e459b;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}

/* LÍNEA CENTRADA */
.linea-centro {
  width: 50%;
  height: 3px;
  background: #1e459b;
  border: none;
  margin: 0 auto 25px;
}

/* PÁRRAFO */
.descripcion {
  color: #2e2e2e;
  font-size: 18px;
  line-height: 1.5;
  max-width: 760px;
  margin: 0 auto 20px;
}

/* AUTOR */
.autor {
  color: #1e459b;
  font-size: 16px;
  font-weight: bold;
}
