body {
    min-height: 200vh;
}

.img-Encabezado {
    width: 100%;
    height: auto;
    display: block;
}

.contenedor{
    position: relative;
}

.cuadroamarrillo-grid {
    background-color: #e5c524;
    width: 800px;
    height: 200px;
    border-radius: 40px;
    position: absolute;   
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%);
    margin-top: 410px;
    border: 2px solid white;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.3s ease;
}

.cuadroamarrillo-grid:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);

}

.subtitulo1{
    margin-top: 40px;
    color: #1e459b;
    font-family: "Poppins", sans-serif; 
    font-size: 39px;
    font-weight: 600;
}

.cuadroamarrillo-señalizado{
    background-color: #e5c524;
    border-top-left-radius:0px ;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;
    width: 400px;
    height: 80px;
    margin-top: 200px;
    position: absolute;
}

.señalizacion-text{
    margin-top: 20px;
    color: #1e459b;
    font-family: "Poppins", sans-serif; 
    font-size: 30px;
    font-weight: 600;
}

.titulo1{
    margin-top: 300px;
    color: #1e459b;
    font-family: "Poppins", sans-serif; 
    font-size: 30px;
    font-weight: 600;
    left: 30px;
    position: relative;
    left: 50px;
}

.text1{
    position: relative; 
    left: 50px;   
    color: #1e459b;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.imagen-text1{
    position: relative;
    left: 520px;
    width: 900px;
    height: auto;
    top: -630px;
    margin-top: 20px;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.3s ease;
}

.imagen-text1:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
