body, html {
    overflow-x: hidden;
}

.img-Encabezado {
    width: 100%;
    height: auto;
    display: block;
}

.contenedor{
    position: relative;
}

.cuadroamarrillo-grid {
    background-color: #e5c524;
    width: 800px;
    height: 200px;
    border-radius: 60px;
    position: absolute;   
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%);
    margin-top: 410px;
    border: 5px solid white;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.3s ease;
}

.cuadroamarrillo-grid:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);

}

.subtitulo1{
    margin-top: 40px;
    color: #1e459b;
    font-family: "Poppins", sans-serif; 
    font-size: 39px;
    font-weight: 600;
}

.cuadroamarrillo-se単alizado{
    background-color: #e5c524;
    border-top-left-radius:0px ;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;
    width: 500px;
    height: 80px;
    margin-top: 150px;
    position: absolute;
}

.se単alizacion-text{
    margin-top: 15px;
    color: #1e459b;
    font-family: "Poppins", sans-serif; 
    font-size: 40px;
    font-weight: 600;
}

.titulo1{
    margin-top: 250px;
    color: #1e459b;
    font-family: "Poppins", sans-serif; 
    font-size: 30px;
    font-weight: 600;
    left: 40px;
    position: relative;
    left: 50px;
}

.text1{
    position: relative; 
    left: 50px;   
    color: #1e459b;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.imagen-text1{
    position: relative;
    left: 520px;
    width: 880px;
    height: auto;
    top: -630px;
    margin-top: 25px;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.3s ease;
}

.imagen-text1:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.imagen-text2{
    position: relative;
    width: 750px;
    height: auto;
    top: -470px;
    left: 50px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.imagen-text2:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.text2{
    position: relative; 
    left: 810px;   
    color: #1e459b;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    top: -820px;
    list-style: disc;  
     padding-left: 5px;   
}

.lista1{
      list-style: disc;   
      padding-left: 20px; 
      top: -840px;
      position: relative; 
      left: 825px; 
      color: #1e459b;
      font-size: 20px;
      font-weight: 400;
}

.cuadroamarrillo-se単alizado2{
    background-color: #e5c524;
    border-top-left-radius:0px ;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;
    width: 850px;
    height: 100px;
    margin-top: -800px;
    position: absolute;  
}

.se単alizacion-text2{
    margin-top: 25px;
    color: #1e459b;
    font-family: "Poppins", sans-serif; 
    font-size: 40px;
    font-weight: 600;
}

.text3{
    position: relative;
    color: #1e459b;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    top: -700px;
    left: 60px;
    margin-top: 40px;
}

.imagen-text3{
    position: relative;
    height: auto;
    width: 1300px;
    top: -700px;
    text-align: center;
    left: 25%;
    transform: translateX(-25%); 
}

.text4{
    position: relative;
    color: #1e459b;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    top: -710px;
    left: 60px;
    margin-top: 40px;
}
